.box {
  position: absolute;
  cursor: move;
  width: 80vw;
  /* color: black; */
  max-width: 450px;
  /* border-radius: 5px; */
  padding: 24px;
  top: 5%;
  right: 10%;
  margin: auto;
  user-select: none;
  background-color: white;
  z-index: 999999;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 30%);

  /* display: table-cell; */
  text-align: center;
  /* vertical-align: middle; */
}

.box-content {
  /* cursor: default; */
}

.close-button {
  float: right;
  cursor: pointer;
  z-index: 9999;
  /* display: inline-block; */
  /* padding: 2px 5px; */
  /* background: #ccc; */
}

.list-title {
  letter-spacing: 1.7px;
}
